<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="LogFile" value="Log.json"/>
    <add key="DepartmentsFile" value="Departments.json"/>
    <add key="ClientsFile" value="Clients.json"/>
    <add key="AccountsFile" value="Accounts.json"/>
    <add key ="DataSource" value="(localdb)\MSSQLLocalDB"/>
    <add key ="InitialCatalog" value="bankDb"/>
    <add key ="IntegratedSecurity" value="True"/>
    <add key ="Pooling" value="False"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>